.receipt-main{
    margin: 1rem 0 0 1rem;
}

.date-picker {
    padding: 0.3rem 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    margin-right: 1rem;
}

.store-picker{
    padding: 0.3rem 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

.add-item-button{
    margin: 1rem 1rem 0 0;
    background-color: #1f1f1f;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    padding: 0.3rem 1.4rem 0.3rem 1.4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease;
}
    
.add-item-button:hover {
    background-color: #393939;
    transform: translateY(-2px);
}

.ai-button {
    margin-top: 1rem;
    background-color: white;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: #1f1f1f;
    padding: 0.3rem 1.4rem 0.3rem 1.4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease,
                color 0.5s ease,
                transform 0.15s ease;
}

.ai-button:hover {
    background-color: #1f1f1f;
    border-style: solid;
    color: white;
    transform: translateY(-2px);
}

.item{
    margin-top: 1rem;
    background-color: #1f1f1f;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
}

.item-field{
    margin: 1.2rem 0 0 1rem;
}

.item-input{
    margin-left: 0.6rem;
    background-color: #393939;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    color: #ffffff;
    padding: 0.2rem 0 0.2rem 0.4rem;
    font-size: 1rem;
}