.receipt-page {
    display: flex;
    gap: 0.2rem;
    padding-right: 1rem;
}

.receipt-main{
    margin: 1rem 0 0 1rem;
}

.date-picker {
    padding: 0.3rem 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    margin-right: 1rem;
}

.store-picker{
    padding: 0.3rem 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

.add-item-button{
    margin: 1rem 1rem 0 0;
    background-color: #1f1f1f;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    padding: 0.3rem 1.4rem 0.3rem 1.4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease;
}
    
.add-item-button:hover {
    background-color: #393939;
    transform: translateY(-2px);
}

.ai-button {
    margin-top: 1rem;
    background-color: white;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: #1f1f1f;
    padding: 0.3rem 1.4rem 0.3rem 1.4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease,
                color 0.5s ease,
                transform 0.15s ease;
}

.ai-button:hover {
    background-color: #1f1f1f;
    border-style: solid;
    color: white;
    transform: translateY(-2px);
}

.item{
    width: 43rem;
    margin-top: 1rem;
    background-color: #1f1f1f;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
}

.item-field{
    margin: 1.2rem 0 0 1rem;
}

.item-input{
    margin-left: 0.6rem;
    background-color: #393939;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    color: #ffffff;
    padding: 0.2rem 0 0.2rem 0.4rem;
    font-size: 1rem;
}

.remove-button{
    margin-top: 1rem;
    background-color: #393939;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    color: #ffffff;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    cursor: pointer;
    transition: background-color 0.2s ease,
            color 0.2s ease,
            transform 0.15s ease;
}

.remove-button:hover {
    background-color: #ffffff;
    color: #1f1f1f;
}

.ai-receipt-section{
    padding: 0.4rem 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box {
    padding: 1.4rem 0 1rem 1.4rem;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: #1f1f1f;
    color: #ffffff;
    min-width: 300px;
    max-width: 400px;
}

.api-field{
    margin-left: 0.4rem;
    padding: 0.3rem 0 0.3rem 0.4rem;

    background-color: #393939;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    color: #ffffff;
}

.upload-section {
    margin-top: 0.8rem;
    padding: 0.6rem 1.8rem 0.6rem 0rem;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
}

.analyze-button {
    margin: 4rem 0 0 9rem;
    background-color: white;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: #1f1f1f;
    padding: 0.3rem 1.2rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.5s ease,
        color 0.5s ease,
        transform 0.15s ease;
}

.analyze-button:hover {
    background-color: #1f1f1f;
    border-style: solid;
    color: white;
    transform: translateY(-2px);
}

.cancel-button {
    background-color: #393939;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #ffffff;
    padding: 0.3rem 1.2rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease;
}

.cancel-button:hover {
    background-color: #ffffff;
    color: #1f1f1f;
    transform: translateY(-2px);
}

.store-panel {
    background: #1f1f1f;
    padding: 1rem;
    border-style: solid;
    border-radius: 6px;
    border-color: #ffffff;
    border-width: 1px;
    height: max-content;
}

.add-chain-button {
    margin: 0rem 1rem 0 0;
    background-color: white;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: #1f1f1f;
    padding: 0.3rem 1.4rem 0.3rem 1.4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease, color 0.2s ease;
}

.add-chain-button:hover {
    background-color: #1f1f1f;
    transform: translateY(-2px);
    color: #ffffff;
}

.submit-chain-button {
    margin: 2rem 1.4rem 0 7rem;
    background-color: white;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: #1f1f1f;
    padding: 0.3rem 1.2rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.5s ease,
        color 0.5s ease,
        transform 0.15s ease;
}

.submit-chain-button:hover {
    background-color: #1f1f1f;
    border-style: solid;
    color: white;
    transform: translateY(-2px);
}

.chain-inputs{
    margin-bottom: 1rem;
}

.chain-info-field {
    margin-left: 0.4rem;
    padding: 0.3rem 0 0.3rem 0.4rem;

    background-color: #393939;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    color: #ffffff;
}